{% import '_macros/ui.html' as _ui %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ _page_title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ _meta_description }}">
		<meta property="og:description" content="{{ _meta_description }}">
		{% if _meta_image %}
			<meta property="og:image" content="{{ _meta_image }}">
		{% endif %}

		{% for path in _styles -%}
			<link type="text/css" rel="stylesheet" media="all" href="{{ _ui.asset('static/css/' ~ path) }}" />
		{% endfor %}

		<script type="text/javascript">var Meadows = {};</script>
		{% for path in _scripts -%}
			<script type="text/javascript" src="{{ _ui.asset('static/js/' ~ path) }}"></script>
		{% endfor -%}

		{% for js in _twig_js %}
			<script type="text/javascript">{% include js %}</script>
		{% endfor %}

		{% for css in _twig_css %}
			<style type="text/css">{% include css %}</style>
		{% endfor %}

		<script>
			var _displayStatusMessage = {{ _display_status_messages }};
		</script>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ _google_analytics_id }}']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

		{% block style %}
		{% endblock style %}

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	</head>
	{% if _user|access('view admin navbar') %}
		{% set body_class = 'class="admin-bar"' %}
	{% endif %}
	<body {{ body_class|raw }}>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1402571499971361";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		{% include '_template/includes/status_message.html' %}
		{% block body %}
		{% endblock body %}
		<div class="hide"><a href="https://plus.google.com/111189722265450271016" rel="publisher">Google+</a></div>
	</body>
</html>
