/* line 12, ../sass/base.scss */
body {
  font-family: 'AvenirNextLTW01-Regular',Helvetica,Arial,sans-serif;
  /*font-family: 'Varela Round', sans-serif;*/
}

/* line 16, ../sass/base.scss */
body.admin-bar {
  margin-top: 39px;
}

/* line 20, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-bottom: .5em;
}

/* line 24, ../sass/base.scss */
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

/* line 29, ../sass/base.scss */
.title-large {
  text-transform: uppercase;
}

/* line 32, ../sass/base.scss */
h2.title-large {
  font-size: 60px;
}

/* line 35, ../sass/base.scss */
h3.title-large {
  font-size: 40px;
}

/* line 38, ../sass/base.scss */
h4.title-large {
  font-size: 30px;
}

/* line 42, ../sass/base.scss */
a {
  color: #aa0000;
}

/* line 45, ../sass/base.scss */
a, a:visited, a:hover {
  text-decoration: none;
}

/* line 49, ../sass/base.scss */
hr {
  margin: 10px 0px 10px 0px;
}

/* Lists */
/* line 54, ../sass/base.scss */
ul.list-no-style, ul.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
/* line 61, ../sass/base.scss */
ul.list-no-style li, ul.list li {
  clear: both;
  float: left;
  width: 100%;
}

/* line 67, ../sass/base.scss */
ul.list li.list-item, div.list-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}

/* line 72, ../sass/base.scss */
.list-item.last {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Forms */
/* line 80, ../sass/base.scss */
form label {
  color: #555555;
  font-size: 15px;
  font-weight: bold;
}
/* line 86, ../sass/base.scss */
form ul.errorlist {
  padding: 0px;
  color: #cc0000;
}
/* line 90, ../sass/base.scss */
form ul.errorlist li {
  list-style: none;
}

/* line 96, ../sass/base.scss */
label {
  font-weight: normal;
  font-size: 1.3em;
}

/* line 103, ../sass/base.scss */
textarea {
  width: 600px;
  height: 350px;
}

/* line 107, ../sass/base.scss */
input[type='text'], input[type='password'], input[type='file'] {
  font-size: 2.0em;
  height: 35px;
  padding: 5px 10px 5px 10px;
}

/* line 112, ../sass/base.scss */
input[type='text'].regular {
  font-size: 1.0em;
  padding: 0px 5px 0px 5px;
  height: 25px;
}

/* line 117, ../sass/base.scss */
input[type='text'].micro {
  font-size: 1.0em;
  padding: 0px 5px 0px 5px;
  height: 25px;
}

/* line 122, ../sass/base.scss */
input[type='checkbox'] {
  float: left;
}

/* line 125, ../sass/base.scss */
.form-list-label {
  font-size: .9em;
  margin: 0px 0px 0px 10px;
  float: left;
}

/* line 130, ../sass/base.scss */
input.fluid {
  width: 100% !important;
}

/* line 134, ../sass/base.scss */
input.large {
  width: 600px !important;
}

/* line 137, ../sass/base.scss */
input.medium {
  width: 400px !important;
}

/* line 140, ../sass/base.scss */
input.small {
  width: 200px !important;
}

/* line 143, ../sass/base.scss */
input.micro {
  width: 90px !important;
}

/* Header Chrome */
/* line 148, ../sass/base.scss */
.chrome {
  font-weight: bold;
  background-color: #efefef;
  border-top: 1px solid #dedede;
  border-bottom: 2px solid #bcbcbc;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1em;
}

/* line 158, ../sass/base.scss */
h1.chrome {
  font-size: 1.5em;
}

/* line 161, ../sass/base.scss */
h2.chrome {
  font-size: 1.2em;
}

/* line 164, ../sass/base.scss */
h3.chrome {
  font-size: 0.9em;
}

/* line 167, ../sass/base.scss */
h4.chrome {
  font-size: 0.8em;
}

/* Helpers */
/* line 172, ../sass/base.scss */
.bg-splash {
  background-color: #003965;
  color: #ffffff;
}

/* line 176, ../sass/base.scss */
.bg-splash.bg-splash-secondary {
  background-color: #ff6600;
  color: #ffffff;
}

/* line 180, ../sass/base.scss */
.bg-splash.bg-splash-grey {
  background-color: #666666;
  color: #ffffff;
}

/* line 185, ../sass/base.scss */
.text-primary {
  color: #003965;
}

/* line 188, ../sass/base.scss */
.text-secondary {
  color: #ff6600;
}

/* line 192, ../sass/base.scss */
.bright {
  color: #ee0000;
}

/* line 196, ../sass/base.scss */
.small {
  font-size: 0.9em;
}

/* line 200, ../sass/base.scss */
.fb-like-box {
  background: #ffffff;
}

/* line 204, ../sass/base.scss */
.quiet {
  color: #999999;
}

/* line 208, ../sass/base.scss */
.text-right {
  text-align: right;
}

/* line 211, ../sass/base.scss */
.text-left {
  text-align: left;
}

/* line 214, ../sass/base.scss */
.text-center {
  text-align: center;
}

/* line 218, ../sass/base.scss */
.inline {
  display: inline !important;
}

/* line 222, ../sass/base.scss */
.pad {
  padding: 10px;
}

/* line 225, ../sass/base.scss */
.pad-top {
  padding-top: 10px;
}

/* line 228, ../sass/base.scss */
.pad-right {
  padding-right: 10px;
}

/* line 231, ../sass/base.scss */
.pad-bottom {
  padding-bottom: 10px;
}

/* line 234, ../sass/base.scss */
.pad-left {
  padding-left: 10px;
}

/* line 238, ../sass/base.scss */
img.shadow {
  box-shadow: 0px 1px 5px #666666;
}

/* Bootstrap overrides */
/* line 243, ../sass/base.scss */
div.first {
  margin-left: 0;
}

/* line 247, ../sass/base.scss */
.form-inline input[type='text'] {
  margin-bottom: 10px;
}
