/* line 8, ../sass/base.scss */
body {
  font-family: 'AvenirNextLTW01-Regular',Helvetica,Arial,sans-serif;
  /*font-family: 'Varela Round', sans-serif;*/
}

/* line 12, ../sass/base.scss */
body.admin-bar {
  margin-top: 39px;
}

/* line 16, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-bottom: .5em;
}

/* line 20, ../sass/base.scss */
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

/* line 25, ../sass/base.scss */
.title-large {
  text-transform: uppercase;
}

/* line 28, ../sass/base.scss */
h2.title-large {
  font-size: 60px;
}

/* line 31, ../sass/base.scss */
h3.title-large {
  font-size: 40px;
}

/* line 34, ../sass/base.scss */
h4.title-large {
  font-size: 30px;
}

/* line 38, ../sass/base.scss */
a {
  color: #aa0000;
}

/* line 41, ../sass/base.scss */
a, a:visited, a:hover {
  text-decoration: none;
}

/* line 45, ../sass/base.scss */
hr {
  margin: 10px 0px 10px 0px;
}

/* Lists */
/* line 50, ../sass/base.scss */
ul.list-no-style, ul.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
/* line 57, ../sass/base.scss */
ul.list-no-style li, ul.list li {
  clear: both;
  float: left;
  width: 100%;
}

/* line 63, ../sass/base.scss */
ul.list li.list-item, div.list-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}

/* line 68, ../sass/base.scss */
.list-item.last {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Forms */
/* line 75, ../sass/base.scss */
label {
  font-weight: normal;
  font-size: 1.3em;
}

/* line 79, ../sass/base.scss */
input {
  width: 600px;
  margin: 5px 0px 15px 0px;
  padding: 5px;
}

/* line 84, ../sass/base.scss */
textarea {
  width: 600px;
  height: 350px;
}

/* line 88, ../sass/base.scss */
input[type='text'], input[type='password'], input[type='file'] {
  font-size: 2.0em;
  height: 35px;
  padding: 5px 10px 5px 10px;
}

/* line 93, ../sass/base.scss */
input[type='text'].regular {
  font-size: 1.0em;
  padding: 0px 5px 0px 5px;
  height: 25px;
}

/* line 98, ../sass/base.scss */
input[type='text'].micro {
  font-size: 1.0em;
  padding: 0px 5px 0px 5px;
  height: 25px;
}

/* line 103, ../sass/base.scss */
input[type='checkbox'] {
  float: left;
}

/* line 106, ../sass/base.scss */
.form-list-label {
  font-size: .9em;
  margin: 0px 0px 0px 10px;
  float: left;
}

/* line 111, ../sass/base.scss */
input.fluid {
  width: 100% !important;
}

/* line 115, ../sass/base.scss */
input.large {
  width: 600px !important;
}

/* line 118, ../sass/base.scss */
input.medium {
  width: 400px !important;
}

/* line 121, ../sass/base.scss */
input.small {
  width: 200px !important;
}

/* line 124, ../sass/base.scss */
input.micro {
  width: 90px !important;
}

/* Header Chrome */
/* line 129, ../sass/base.scss */
.chrome {
  font-weight: bold;
  background-color: #efefef;
  border-top: 1px solid #dedede;
  border-bottom: 2px solid #bcbcbc;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1em;
}

/* line 139, ../sass/base.scss */
h1.chrome {
  font-size: 1.5em;
}

/* line 142, ../sass/base.scss */
h2.chrome {
  font-size: 1.2em;
}

/* line 145, ../sass/base.scss */
h3.chrome {
  font-size: 0.9em;
}

/* line 148, ../sass/base.scss */
h4.chrome {
  font-size: 0.8em;
}

/* Helpers */
/* line 153, ../sass/base.scss */
.bg-splash {
  background-color: #003965;
  color: #ffffff;
}

/* line 157, ../sass/base.scss */
.bg-splash.bg-splash-secondary {
  background-color: #ff6600;
  color: #ffffff;
}

/* line 161, ../sass/base.scss */
.bg-splash.bg-splash-grey {
  background-color: #666666;
  color: #ffffff;
}

/* line 166, ../sass/base.scss */
.text-primary {
  color: #003965;
}

/* line 169, ../sass/base.scss */
.text-secondary {
  color: #ff6600;
}

/* line 173, ../sass/base.scss */
.bright {
  color: #ee0000;
}

/* line 177, ../sass/base.scss */
.small {
  font-size: 0.9em;
}

/* line 181, ../sass/base.scss */
.fb-like-box {
  background: #ffffff;
}

/* line 185, ../sass/base.scss */
.quiet {
  color: #999999;
}

/* line 189, ../sass/base.scss */
.text-right {
  text-align: right;
}

/* line 192, ../sass/base.scss */
.text-left {
  text-align: left;
}

/* line 195, ../sass/base.scss */
.text-center {
  text-align: center;
}

/* line 199, ../sass/base.scss */
.inline {
  display: inline !important;
}

/* line 203, ../sass/base.scss */
.pad {
  padding: 10px;
}

/* line 206, ../sass/base.scss */
.pad-top {
  padding-top: 10px;
}

/* line 209, ../sass/base.scss */
.pad-right {
  padding-right: 10px;
}

/* line 212, ../sass/base.scss */
.pad-bottom {
  padding-bottom: 10px;
}

/* line 215, ../sass/base.scss */
.pad-left {
  padding-left: 10px;
}

/* line 219, ../sass/base.scss */
img.shadow {
  box-shadow: 0px 1px 5px #666666;
}

/* Bootstrap overrides */
/* line 224, ../sass/base.scss */
div.first {
  margin-left: 0;
}

/* line 228, ../sass/base.scss */
.form-inline input[type='text'] {
  margin-bottom: 10px;
}

/* Template */
/* line 4, ../sass/meadows.scss */
body {
  padding-top: 60px;
}

/* line 9, ../sass/meadows.scss */
header .navbar {
  border-bottom: 1px solid #ffffff;
}
/* line 12, ../sass/meadows.scss */
header .navbar .logo-text {
  font-size: 14px;
  margin-top: 15px;
  display: block;
}
/* line 18, ../sass/meadows.scss */
header .navbar .navbar-brand {
  background: url("/static/images/template/logo.png") no-repeat scroll 10px 0px;
  text-indent: -10000px;
  width: 85px;
  background-size: 65px;
}
/* line 28, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav li a {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: center;
}
/* line 33, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav li a, header .navbar .main-navigation .navbar-nav li a:visited {
  color: #ffffff;
}
/* line 38, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav li.active, header .navbar .main-navigation .navbar-nav li > a:hover {
  background: #18517d;
}
/* line 41, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav li.social {
  /*display: none;*/
}
/* line 45, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav .icon-social {
  -webkit-background-size: 30px;
  -moz-background-size: 30px;
  background-size: 30px;
  height: 30px;
  opacity: .27;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=27)";
  filter: alpha(opacity=27);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  width: 30px;
}
/* line 46, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav .icon-social.icon-facebook-dark {
  background: url("/static/images/template/facebook-dark.svg") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
}
/* line 49, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav .icon-social.icon-twitter-dark {
  background: url("/static/images/template/twitter-dark.svg") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
}

/* line 57, ../sass/meadows.scss */
footer {
  color: #333333;
  padding: 25px 0px 100px 0px;
  background: url("/static/images/template/msd_logo.png") no-repeat;
  background-position: center 25px;
}
/* line 63, ../sass/meadows.scss */
footer a {
  color: #ababab;
}
/* line 66, ../sass/meadows.scss */
footer a:hover {
  color: #ffffff;
}
/* line 70, ../sass/meadows.scss */
footer .msd-logo {
  margin-right: 20px;
}
/* line 74, ../sass/meadows.scss */
footer .section1 {
  min-height: 115px;
  padding-right: 0px;
}
/* line 78, ../sass/meadows.scss */
footer .section1 .content {
  margin-right: 65px;
  margin-top: 5px;
}
/* line 84, ../sass/meadows.scss */
footer .section2 .content {
  margin-left: 50px;
  margin-top: 5px;
}

/* Homepage */
/* line 92, ../sass/meadows.scss */
#homepage section {
  padding: 60px 25px;
  font-size: 24px;
  line-height: 28px;
}
/* line 97, ../sass/meadows.scss */
#homepage section h2.title-large {
  text-align: center;
  margin-bottom: 35px;
}
/* line 101, ../sass/meadows.scss */
#homepage section h2.title-large .glyphicon {
  top: 10px;
}
/* line 106, ../sass/meadows.scss */
#homepage section h3 {
  margin-bottom: 25px;
}
/* line 110, ../sass/meadows.scss */
#homepage section p {
  margin-bottom: 35px;
}
/* line 115, ../sass/meadows.scss */
#homepage #news {
  padding-bottom: 25px;
}
/* line 118, ../sass/meadows.scss */
#homepage #news #view-news-article .modal-content {
  width: 700px;
  margin-left: -50px;
}
/* line 122, ../sass/meadows.scss */
#homepage #news #view-news-article .modal-content .post-image {
  text-align: center;
  margin-bottom: 25px;
}
/* line 128, ../sass/meadows.scss */
#homepage #news #featured-news-post {
  position: relative;
}
/* line 131, ../sass/meadows.scss */
#homepage #news #featured-news-post .title-bar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 15px 10px 15px;
  position: absolute;
  bottom: 30px;
  right: 0px;
  -moz-box-shadow: 0px 1px 3px 0px #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px #ffffff;
  box-shadow: 0px 1px 3px 0px #ffffff;
}
/* line 141, ../sass/meadows.scss */
#homepage #news #featured-news-post .title-bar a {
  text-decoration: none;
  color: #ffffff;
}
/* line 146, ../sass/meadows.scss */
#homepage #news #featured-news-post .title-bar .title {
  color: #ffffff;
  font-size: 1.9em;
  margin-bottom: 3px;
}
/* line 152, ../sass/meadows.scss */
#homepage #news #featured-news-post .title-bar .teaser {
  color: #ffffff;
  font-size: 1em;
}
/* line 160, ../sass/meadows.scss */
#homepage #news #news-list h3 {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 3px;
}
/* line 166, ../sass/meadows.scss */
#homepage #news #news-list .row {
  min-height: 80px;
}
/* line 174, ../sass/meadows.scss */
#homepage #membership .support-statements p {
  font-size: 16px;
  line-height: 22px;
}
/* line 182, ../sass/meadows.scss */
#homepage #volunteer h2.title-large {
  color: #cc0000;
}
/* line 193, ../sass/meadows.scss */
#homepage #executive-board .list .title {
  font-size: 30px;
  line-height: 40px;
  text-align: right;
  font-weight: normal;
}
/* line 200, ../sass/meadows.scss */
#homepage #executive-board .list .name {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
