/* line 8, ../sass/base.scss */
body {
  font-family: 'AvenirNextLTW01-Regular',Helvetica,Arial,sans-serif;
  /*font-family: 'Varela Round', sans-serif;*/
}

/* line 12, ../sass/base.scss */
body.admin-bar {
  margin-top: 39px;
}

/* line 16, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

/* line 19, ../sass/base.scss */
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

/* line 24, ../sass/base.scss */
.title-large {
  text-transform: uppercase;
}

/* line 27, ../sass/base.scss */
h2.title-large {
  font-size: 60px;
}

/* line 30, ../sass/base.scss */
h3.title-large {
  font-size: 40px;
}

/* line 33, ../sass/base.scss */
h4.title-large {
  font-size: 30px;
}

/* line 37, ../sass/base.scss */
a {
  color: #aa0000;
}

/* line 40, ../sass/base.scss */
a, a:visited, a:hover {
  text-decoration: none;
}

/* line 44, ../sass/base.scss */
hr {
  margin: 10px 0px 10px 0px;
}

/* Lists */
/* line 49, ../sass/base.scss */
ul.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
/* line 56, ../sass/base.scss */
ul.list li {
  clear: both;
  float: left;
  width: 100%;
}

/* line 62, ../sass/base.scss */
ul.list li.list-item, div.list-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}

/* line 67, ../sass/base.scss */
.list-item.last {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Forms */
/* line 74, ../sass/base.scss */
label {
  font-weight: normal;
  font-size: 1.3em;
}

/* line 78, ../sass/base.scss */
input {
  width: 600px;
  margin: 5px 0px 15px 0px;
  padding: 5px;
}

/* line 83, ../sass/base.scss */
textarea {
  width: 600px;
  height: 350px;
}

/* line 87, ../sass/base.scss */
input[type='text'], input[type='password'], input[type='file'] {
  font-size: 2.0em;
  height: 35px;
  padding: 5px 10px 5px 10px;
}

/* line 92, ../sass/base.scss */
input[type='text'].regular {
  font-size: 1.0em;
  padding: 0px 5px 0px 5px;
  height: 25px;
}

/* line 97, ../sass/base.scss */
input[type='text'].micro {
  font-size: 1.0em;
  padding: 0px 5px 0px 5px;
  height: 25px;
}

/* line 102, ../sass/base.scss */
input[type='checkbox'] {
  float: left;
}

/* line 105, ../sass/base.scss */
.form-list-label {
  font-size: .9em;
  margin: 0px 0px 0px 10px;
  float: left;
}

/* line 110, ../sass/base.scss */
input.fluid {
  width: 100% !important;
}

/* line 114, ../sass/base.scss */
input.large {
  width: 600px !important;
}

/* line 117, ../sass/base.scss */
input.medium {
  width: 400px !important;
}

/* line 120, ../sass/base.scss */
input.small {
  width: 200px !important;
}

/* line 123, ../sass/base.scss */
input.micro {
  width: 90px !important;
}

/* Header Chrome */
/* line 128, ../sass/base.scss */
.chrome {
  font-weight: bold;
  background-color: #efefef;
  border-top: 1px solid #dedede;
  border-bottom: 2px solid #bcbcbc;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1em;
}

/* line 138, ../sass/base.scss */
h1.chrome {
  font-size: 1.5em;
}

/* line 141, ../sass/base.scss */
h2.chrome {
  font-size: 1.2em;
}

/* line 144, ../sass/base.scss */
h3.chrome {
  font-size: 0.9em;
}

/* line 147, ../sass/base.scss */
h4.chrome {
  font-size: 0.8em;
}

/* Helpers */
/* line 152, ../sass/base.scss */
.bg-splash {
  background-color: #003965;
  color: #ffffff;
}

/* line 156, ../sass/base.scss */
.bg-splash.bg-splash-secondary {
  background-color: #ff6600;
  color: #ffffff;
}

/* line 161, ../sass/base.scss */
.text-primary {
  color: #003965;
}

/* line 164, ../sass/base.scss */
.text-secondary {
  color: #ff6600;
}

/* line 168, ../sass/base.scss */
.bright {
  color: #ee0000;
}

/* line 172, ../sass/base.scss */
.small {
  font-size: 0.9em;
}

/* line 176, ../sass/base.scss */
.fb-like-box {
  background: #ffffff;
}

/* line 180, ../sass/base.scss */
.quiet {
  color: #999999;
}

/* line 184, ../sass/base.scss */
.text-right {
  text-align: right;
}

/* line 187, ../sass/base.scss */
.text-left {
  text-align: left;
}

/* line 190, ../sass/base.scss */
.text-center {
  text-align: center;
}

/* line 194, ../sass/base.scss */
.inline {
  display: inline !important;
}

/* line 198, ../sass/base.scss */
.pad {
  padding: 10px;
}

/* line 201, ../sass/base.scss */
.pad-top {
  padding-top: 10px;
}

/* line 204, ../sass/base.scss */
.pad-right {
  padding-right: 10px;
}

/* line 207, ../sass/base.scss */
.pad-bottom {
  padding-bottom: 10px;
}

/* line 210, ../sass/base.scss */
.pad-left {
  padding-left: 10px;
}

/* Bootstrap overrides */
/* line 215, ../sass/base.scss */
div.first {
  margin-left: 0;
}

/* line 219, ../sass/base.scss */
.form-inline input[type='text'] {
  margin-bottom: 10px;
}

/* Template */
/* line 4, ../sass/meadows.scss */
body {
  padding-top: 60px;
}

/* line 9, ../sass/meadows.scss */
header .navbar {
  border-bottom: 1px solid #ffffff;
}
/* line 12, ../sass/meadows.scss */
header .navbar .logo-text {
  font-size: 14px;
  margin-top: 15px;
  display: block;
}
/* line 18, ../sass/meadows.scss */
header .navbar .navbar-brand {
  background: url("/static/images/template/logo.png") no-repeat scroll 10px 0px;
  text-indent: -10000px;
  width: 85px;
  background-size: 65px;
}
/* line 28, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav li a {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: center;
}
/* line 33, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav li a, header .navbar .main-navigation .navbar-nav li a:visited {
  color: #ffffff;
}
/* line 38, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav li.active, header .navbar .main-navigation .navbar-nav li > a:hover {
  background: #18517d;
}
/* line 41, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav li.social {
  /*display: none;*/
}
/* line 45, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav .icon-social {
  -webkit-background-size: 30px;
  -moz-background-size: 30px;
  background-size: 30px;
  height: 30px;
  opacity: .27;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=27)";
  filter: alpha(opacity=27);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  width: 30px;
}
/* line 46, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav .icon-social.icon-facebook-dark {
  background: url("/static/images/template/facebook-dark.svg") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
}
/* line 49, ../sass/meadows.scss */
header .navbar .main-navigation .navbar-nav .icon-social.icon-twitter-dark {
  background: url("/static/images/template/twitter-dark.svg") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
}

/* Homepage */
/* line 59, ../sass/meadows.scss */
#homepage section {
  padding: 60px 25px;
  font-size: 24px;
  line-height: 28px;
}
/* line 64, ../sass/meadows.scss */
#homepage section h2.title-large {
  text-align: center;
  margin-bottom: 35px;
}
/* line 68, ../sass/meadows.scss */
#homepage section h2.title-large .glyphicon {
  top: 10px;
}
/* line 73, ../sass/meadows.scss */
#homepage section h3 {
  margin-bottom: 25px;
}
/* line 77, ../sass/meadows.scss */
#homepage section p {
  margin-bottom: 35px;
}
/* line 82, ../sass/meadows.scss */
#homepage #news {
  padding-bottom: 25px;
}
/* line 86, ../sass/meadows.scss */
#homepage #news #news-list h3 {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 3px;
}
/* line 96, ../sass/meadows.scss */
#homepage #membership .support-statements p {
  font-size: 16px;
  line-height: 22px;
}
/* line 104, ../sass/meadows.scss */
#homepage #volunteer h2.title-large {
  color: #cc0000;
}
/* line 115, ../sass/meadows.scss */
#homepage #executive-board .list .title {
  font-size: 30px;
  line-height: 40px;
  text-align: right;
  font-weight: normal;
}
/* line 122, ../sass/meadows.scss */
#homepage #executive-board .list .name {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
