/* line 3, ../sass/base.scss */
body {
  background: #003965;
}

/* line 6, ../sass/base.scss */
body.admin-bar {
  margin-top: 39px;
}

/* line 10, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

/* line 13, ../sass/base.scss */
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  line-height: 1em;
}

/* line 19, ../sass/base.scss */
a {
  color: #aa0000;
}

/* line 23, ../sass/base.scss */
hr {
  margin: 10px 0px 10px 0px;
}

/* Forms */
/* line 28, ../sass/base.scss */
label {
  font-weight: normal;
  font-size: 1.3em;
}

/* line 32, ../sass/base.scss */
input {
  width: 600px;
  margin: 5px 0px 15px 0px;
  padding: 5px;
}

/* line 37, ../sass/base.scss */
textarea {
  width: 600px;
  height: 350px;
}

/* line 41, ../sass/base.scss */
input[type='text'], input[type='password'], input[type='file'] {
  font-size: 2.0em;
  height: 35px;
  padding: 5px 10px 5px 10px;
}

/* line 46, ../sass/base.scss */
input[type='text'].regular {
  font-size: 1.0em;
  padding: 0px 5px 0px 5px;
  height: 25px;
}

/* line 51, ../sass/base.scss */
input[type='text'].micro {
  font-size: 1.0em;
  padding: 0px 5px 0px 5px;
  height: 25px;
}

/* line 56, ../sass/base.scss */
input[type='checkbox'] {
  float: left;
}

/* line 59, ../sass/base.scss */
.form-list-label {
  font-size: .9em;
  margin: 0px 0px 0px 10px;
  float: left;
}

/* line 64, ../sass/base.scss */
input.fluid {
  width: 100% !important;
}

/* line 68, ../sass/base.scss */
input.large {
  width: 600px !important;
}

/* line 71, ../sass/base.scss */
input.medium {
  width: 400px !important;
}

/* line 74, ../sass/base.scss */
input.small {
  width: 200px !important;
}

/* line 77, ../sass/base.scss */
input.micro {
  width: 90px !important;
}

/* Helpers */
/* line 82, ../sass/base.scss */
.bright {
  color: #ee0000;
}

/* line 86, ../sass/base.scss */
.small {
  font-size: 0.9em;
}

/* line 90, ../sass/base.scss */
.fb-like-box {
  background: #ffffff;
}

/* line 94, ../sass/base.scss */
.quiet {
  color: #999999;
}

/* line 98, ../sass/base.scss */
.text-right {
  text-align: right;
}

/* line 101, ../sass/base.scss */
.text-left {
  text-align: left;
}

/* line 104, ../sass/base.scss */
.text-center {
  text-align: center;
}

/* line 108, ../sass/base.scss */
.inline {
  display: inline !important;
}

/* line 112, ../sass/base.scss */
.pad {
  padding: 10px;
}

/* line 115, ../sass/base.scss */
.pad-top {
  padding-top: 10px;
}

/* line 118, ../sass/base.scss */
.pad-right {
  padding-right: 10px;
}

/* line 121, ../sass/base.scss */
.pad-bottom {
  padding-bottom: 10px;
}

/* line 124, ../sass/base.scss */
.pad-left {
  padding-left: 10px;
}

/* Bootstrap overrides */
/* line 129, ../sass/base.scss */
div.first {
  margin-left: 0;
}

/* line 133, ../sass/base.scss */
.form-inline input[type='text'] {
  margin-bottom: 10px;
}
