{% extends 'layouts/full.html' %}

{% block content %}
  <div id="crabfeed-home">
    <section class="section-overview">
      &nbsp;
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <img class="img-responsive crabfeed-logo" src="/static/images/crabfeed/home/logo.png">

              <h1>Your Order Has Been Cancelled</h1>
              <p>
                We're sorry that you decided to cancel your order.
              </p>
              <p>
                If you have any questions, email us at: <a href="mailto:info@meadowspta.org">info@meadowspta.org</a>
              </p>
              <br />
              <a href="/crabfeed/" class="btn btn-lg btn-success pull-right">Back To The Crabfeed Homepage</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}