{% extends 'layouts/page.html' %}
{% load humanize %}

{% block content %}
  <div id="crabfeed-dashboard" ng-controller="CrabfeedDashboardController">
    <header>
      <ul class="overview">
        <li>
          <h2>Crab Feed Tickets</h2>
          <span>{{ totals.crabfeed_tickets|intcomma }}</span>
        </li>
        <li>
          <h2>Raffle Tickets</h2>
          <span>{{ totals.raffle_tickets|intcomma }}</span>
        </li>
        <li>
          <h2>Raffle Ticket 5 Pack</h2>
          <span>{{ totals.raffle_ticket_pack|intcomma }}</span>
        </li>
        <li>
          <h2>Turkey Trott T-Shirts</h2>
          <span>{{ totals.turkey_trott_tshirts|intcomma }}</span>
        </li>
        <li>
          <h2>Donations</h2>
          <span>${{ totals.donations|floatformat:2|intcomma }}</span>
        </li>
        <li class="grand-total">
          <h2>Grand Total</h2>
          <span>${{ totals.grand_total|floatformat:2|intcomma }}</span>
        </li>
      </ul>
    </header>
    <hr />

    <section>
      <ul class="list-no-style">
        {% for transaction in transactions %}
          <li>
            <div class="list-item row">
              <div class="col-lg-3">
                <strong>Purchased: </strong>
                {{ transaction.date|date:"n/j/y" }}
                <span class="quiet">{{ transaction.date|date:"g:i a" }}</span>
                <br />

                <strong>Source: </strong>
                {{ transaction.get_payment_source }}<br />

                <strong>Payment Type: </strong>
                {% if transaction.get_payment_type == 'Credit' or transaction.get_payment_type == 'Check' %}
                  <span class="glyphicon {% if transaction.get_payment_type == 'Credit' %}glyphicon-credit-card{% elif transaction.get_payment_type == 'Check' %}glyphicon-ok{% endif %}"></span>
                {% elif transaction.get_payment_type == 'Cash' %}
                  <strong>$</strong>
                {% endif %}
                {{ transaction.get_payment_type }}
                <br />

                {% if transaction.get_seller %}
                  <strong>Seller: </strong>
                  {{ transaction.get_seller }}<br />
                {% endif %}
              </div>
              <div class="col-lg-5">
                <strong>Name: </strong>
                {% if transaction.get_name %}
                  {{ transaction.get_name }}
                {% else %}
                  <span class="quiet italic">(no name)</span>
                {% endif %}
                <br />

                <strong>Email: </strong>
                {% if transaction.get_email %}
                  {{ transaction.get_email }}
                {% else %}
                  <span class="quiet italic">(no email)</span>
                {% endif %}
                <br />

                <strong>Transaction ID: </strong>
                {{ transaction.transaction_id }}
                <br />
              </div>
              <div class="col-lg-3">
                <strong>Purchases:</strong>
                <ul class="list-no-style">
                  {% for item in transaction.paypaltransactionitem_set.all %}
                    <li class="no-wrap">
                      {{ item.item_title }}:
                      {% if item.item_title == 'Donation' %}
                        ${{ item.net }}
                      {% else %}
                        {{ item.quantity }}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-1">

              </div>
            </div>
          </li>
        {% endfor %}
      </ul>

      <!--
      <table class="table table-striped">
        <tr>
          <th>Date/Time</th>
          <th>Name</th>
          <th>Items</th>
          <th>Transaction ID</th>
          <th>Source</th>
          <th>Payment Type</th>
          <th>Seller</th>
          <th></th>
        </tr>
        {% for transaction in transactions %}
          <tr>
            <td>
              <strong>{{ transaction.date|date:"n/j/y" }}</strong><br />
              <span class="quiet">{{ transaction.date|date:"g:i a" }}</span>
            </td>
            <td>
              {% if transaction.get_name %}
                <strong>{{ transaction.get_name }}</strong><br />
              {% else %}
                <span class="quiet italic">(no name)</span><br />
              {% endif %}

              {% if transaction.get_email %}
                <a href="mailto:{{ transaction.get_email }}" target="_blank">{{ transaction.get_email }}</a>
              {% endif %}
            </td>
            <td>
              <ul class="list-no-style">
                {% for item in transaction.paypaltransactionitem_set.all %}
                  <li class="no-wrap">
                    <strong>{{ item.item_title }}:</strong>
                    {% if item.item_title == 'Donation' %}
                      ${{ item.net }}
                    {% else %}
                      {{ item.quantity }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </td>
            <td class="no-wrap quiet">{{ transaction.transaction_id }}</td>
            <td class="no-wrap">{{ transaction.get_payment_source }}</td>
            <td>
              {% if transaction.get_payment_type == 'Credit' or transaction.get_payment_type == 'Check' %}
                <span class="glyphicon {% if transaction.get_payment_type == 'Credit' %}glyphicon-credit-card{% elif transaction.get_payment_type == 'Check' %}glyphicon-ok{% endif %}"></span>
              {% elif transaction.get_payment_type == 'Cash' %}
                <strong>$</strong>
              {% endif %}
              {{ transaction.get_payment_type }}
            </td>
            <td>{{ transaction.get_seller }}</td>
            <td></td>
          </tr>
        {% endfor %}
      </table>
      -->
    </section>
  </div>
{% endblock content %}