{% extends 'layouts/page.html' %}
{% load humanize %}

{% block content %}
  <div id="crabfeed-dashboard" ng-controller="CrabfeedDashboardController">
    <header>
      <ul class="overview">
        <li>
          <h2>Crab Feed Tickets</h2>
          <span>{{ totals.crabfeed_tickets|intcomma }}</span>
        </li>
        <li>
          <h2>Raffle Tickets</h2>
          <span>{{ totals.raffle_tickets|intcomma }}</span>
        </li>
        <li>
          <h2>Raffle Ticket 5 Pack</h2>
          <span>{{ totals.raffle_ticket_pack|intcomma }}</span>
        </li>
        <li>
          <h2>Turkey Trott T-Shirts</h2>
          <span>{{ totals.turkey_trott_tshirts|intcomma }}</span>
        </li>
        <li>
          <h2>Donations</h2>
          <span>${{ totals.donations|floatformat:2|intcomma }}</span>
        </li>
        <li class="grand-total">
          <h2>Grand Total</h2>
          <span>${{ totals.grand_total|floatformat:2|intcomma }}</span>
        </li>
      </ul>
    </header>
    <hr />

    <section ng-controller="CrabfeedTransactionListController">
      <div class="row">
        <div class="col-lg-3 crabfeed-transaction-filters well">
          <h4>Filter by:</h4>

          <div>
            <div ng-repeat="info in infoNeeded">
              <label>
                <input type="radio" ng-checked="radioButtonState('infoNeeded', info);" ng-click="filter('infoNeeded', info);"> {[ info.name ]}
              </label>
            </div>
          </div>
          <hr />

          <div>
            <h4>Dinner Tickets</h4>
            <div ng-repeat="crabfeedTicketQuantity in crabfeedTicketQuantities">
              <label>
                <input type="radio" ng-checked="radioButtonState('crabfeedTicketQuantity', crabfeedTicketQuantity);" ng-click="filter('crabfeedTicketQuantity', crabfeedTicketQuantity);"> {[ crabfeedTicketQuantity.name ]}
              </label>
            </div>
          </div>
          <hr />

          <div>
            <h4>Payment Source</h4>
            <div ng-repeat="source in paymentSources">
              <label>
                <input type="radio" ng-checked="radioButtonState('source', source);" ng-click="filter('source', source);"> {[ source.name ]}
              </label>
            </div>
          </div>
          <hr />

          <div>
            <h4>Payment Type</h4>
            <div ng-repeat="paymentType in paymentTypes">
              <label>
                <input type="radio" ng-checked="radioButtonState('paymentType', paymentType);" ng-click="filter('paymentType', paymentType);"> {[ paymentType.name ]}
              </label>
            </div>
          </div>
          <hr />

          <div>
            <h4>Seller</h4>
            <div ng-repeat="seller in sellers">
              <label>
                <input type="radio" ng-checked="radioButtonState('seller', seller);" ng-click="filter('seller', seller);"> {[ seller.name ]}
              </label>
            </div>
          </div>
          <hr />
        </div>

        <div class="col-lg-9">
          <h2 class="chrome">{[ resultCount ]} Transactions</h2>

          <ul class="list-no-style" ng-repeat="transaction in transactions">
            <li>
              <div class="list-item row">
                <div class="col-lg-3">
                  <strong>Purchased: </strong>
                  {[ utils.dateFormat(transaction.date) ]}
                  <span class="quiet">{{ transaction.date|date:"g:i a" }}</span>
                  <br />

                  <strong>Source: </strong>
                  {[ transaction.payment_source ]}<br />

                  <strong>Payment Type: </strong>
                  {% if transaction.get_payment_type_id == 'credit' or transaction.get_payment_type_id == 'check' %}
                    <span class="glyphicon {% if transaction.get_payment_type_id == 'credit' %}glyphicon-credit-card{% elif transaction.get_payment_type_id == 'check' %}glyphicon-ok{% endif %}"></span>
                  {% elif transaction.get_payment_type_id == 'cash' %}
                    <strong>$</strong>
                  {% endif %}
                  {[ transaction.payment_type ]}
                  <br />

                  <div ng-show="transaction.seller">
                    <strong>Seller: </strong>
                    {[ transaction.seller ]}<br />
                  </div>
                </div>
                <div class="col-lg-5">
                  <strong>Name: </strong>
                  <span ng-if="transaction.name">{[ transaction.name ]}</span>
                  <span class="quiet italic" ng-if="! transaction.name">(no name)</span>
                  <br />

                  <strong>Email: </strong>
                  <span ng-if="transaction.from_email_address">{[ transaction.from_email_address ]}</span>
                  <span class="quiet italic" ng-if="! transaction.from_email_address">(no email)</span>
                  <br />

                  <strong>Transaction ID: </strong>
                  {[ transaction.transaction_id ]}
                  <br />
                </div>
                <div class="col-lg-3">
                  <strong>Purchases:</strong>
                  <ul class="list-no-style">
                    <li class="no-wrap" ng-repeat="item in transaction.items">
                      {[ item.item_title ]}:
                      <span ng-if="item.item_title == 'Donation'">
                        ${[ item.net ]}
                      </span>
                      <span ng-if="item.item_title != 'Donation'">
                        {[ item.quantity ]}
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-1">

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!--
      <ul class="list-no-style">
        {% for transaction in transactions %}
          <li>
            <div class="list-item row">
              <div class="col-lg-3">
                <strong>Purchased: </strong>
                {{ transaction.date|date:"n/j/y" }}
                <span class="quiet">{{ transaction.date|date:"g:i a" }}</span>
                <br />

                <strong>Source: </strong>
                {{ transaction.get_payment_source }}<br />

                <strong>Payment Type: </strong>
                {% if transaction.get_payment_type == 'Credit' or transaction.get_payment_type == 'Check' %}
                  <span class="glyphicon {% if transaction.get_payment_type == 'Credit' %}glyphicon-credit-card{% elif transaction.get_payment_type == 'Check' %}glyphicon-ok{% endif %}"></span>
                {% elif transaction.get_payment_type == 'Cash' %}
                  <strong>$</strong>
                {% endif %}
                {{ transaction.get_payment_type }}
                <br />

                {% if transaction.get_seller %}
                  <strong>Seller: </strong>
                  {{ transaction.get_seller }}<br />
                {% endif %}
              </div>
              <div class="col-lg-5">
                <strong>Name: </strong>
                {% if transaction.get_name %}
                  {{ transaction.get_name }}
                {% else %}
                  <span class="quiet italic">(no name)</span>
                {% endif %}
                <br />

                <strong>Email: </strong>
                {% if transaction.get_email %}
                  {{ transaction.get_email }}
                {% else %}
                  <span class="quiet italic">(no email)</span>
                {% endif %}
                <br />

                <strong>Transaction ID: </strong>
                {{ transaction.transaction_id }}
                <br />
              </div>
              <div class="col-lg-3">
                <strong>Purchases:</strong>
                <ul class="list-no-style">
                  {% for item in transaction.paypaltransactionitem_set.all %}
                    <li class="no-wrap">
                      {{ item.item_title }}:
                      {% if item.item_title == 'Donation' %}
                        ${{ item.net }}
                      {% else %}
                        {{ item.quantity }}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-1">

              </div>
            </div>
          </li>
        {% endfor %}
      </ul>

      <table class="table table-striped">
        <tr>
          <th>Date/Time</th>
          <th>Name</th>
          <th>Items</th>
          <th>Transaction ID</th>
          <th>Source</th>
          <th>Payment Type</th>
          <th>Seller</th>
          <th></th>
        </tr>
        {% for transaction in transactions %}
          <tr>
            <td>
              <strong>{{ transaction.date|date:"n/j/y" }}</strong><br />
              <span class="quiet">{{ transaction.date|date:"g:i a" }}</span>
            </td>
            <td>
              {% if transaction.get_name %}
                <strong>{{ transaction.get_name }}</strong><br />
              {% else %}
                <span class="quiet italic">(no name)</span><br />
              {% endif %}

              {% if transaction.get_email %}
                <a href="mailto:{{ transaction.get_email }}" target="_blank">{{ transaction.get_email }}</a>
              {% endif %}
            </td>
            <td>
              <ul class="list-no-style">
                {% for item in transaction.paypaltransactionitem_set.all %}
                  <li class="no-wrap">
                    <strong>{{ item.item_title }}:</strong>
                    {% if item.item_title == 'Donation' %}
                      ${{ item.net }}
                    {% else %}
                      {{ item.quantity }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </td>
            <td class="no-wrap quiet">{{ transaction.transaction_id }}</td>
            <td class="no-wrap">{{ transaction.get_payment_source }}</td>
            <td>
              {% if transaction.get_payment_type == 'Credit' or transaction.get_payment_type == 'Check' %}
                <span class="glyphicon {% if transaction.get_payment_type == 'Credit' %}glyphicon-credit-card{% elif transaction.get_payment_type == 'Check' %}glyphicon-ok{% endif %}"></span>
              {% elif transaction.get_payment_type == 'Cash' %}
                <strong>$</strong>
              {% endif %}
              {{ transaction.get_payment_type }}
            </td>
            <td>{{ transaction.get_seller }}</td>
            <td></td>
          </tr>
        {% endfor %}
      </table>
      -->
    </section>
  </div>
{% endblock content %}