{% extends 'layouts/full.html' %}

{% block content %}
  <div id="crabfeed-faq-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="showVolunteerSignupFormLoader = false;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Crab Feed Frequently Asked Questions</h4>
        </div>
        <div class="loader-region">
          <div class="modal-body">
            <h2>About the Event:</h2>
            <p>
              Meadows Crab Feed and Auction is the biggest fundraising event of Meadows PTA this year.  We are inviting all families to join us and make this event a success.  100% of the proceeds go towards supporting our school’s educational enrichment programs like field trips, music, art and for much needed classroom supplies, technology, and materials for our dedicated teachers, school staff and students.
            </p>

            <h2>What time is the Event?</h2>
            <p>
              4:30pm kicks-off a Pre-event no-host wine and beer social at the Millbrae Rec Center. From 6-9pm, the Crab Feed and Auction will be at the Caroline Shea Center at Taylor Middle School, 850 Taylor Street.  Event entrance will be located on the Taylor Street side of the building.
            </p>

            <h2>Where do I park?</h2>
            <p>
              Parking lot at 850 Taylor Street, lot at 555 Richmond Drive at the District Office or any street parking.
            </p>

            <h2>What kind of food will be served?</h2>
            <p>
              We will be serving an “all-you-can-eat” fresh  steamed cracked crabs with butter,  pasta, salad, bread and dessert.  No wine or beer can be consumed on school property, but please enjoy a glass or two at the Pre-event social at the Millbrae Rec Center.  Bring your favorite crab condiments, crab crackers and mallet.
            </p>

            <h2>Where can we buy tickets and how much does it cost?</h2>
            <p>
              You can buy tickets online at www:meadowscrabfeed.com starting Friday, December 19th, 2014.  You can also purchase tickets at the info tables at school during drop-off or pick-up.  The cost per person is $50.00 if you buy your ticket before February 17.  After this date, the cost is $60.00.  Same ticket price for adults and kids.  For parties of 6 or more, you can reserve a table.
            </p>

            <h2>What will I need to bring to the Event for entry?</h2>
            <p>
              After purchasing tickets, print a copy of your receipt.  Your receipt will have a barcode that will be scanned at check-in.  The barcode can also be scanned from your mobile device.
            </p>

            <h2>I am not available for dinner.  How can I get in for the Auction area without a ticket?</h2>
            <p>
              You are welcome to check out the fabulous auction item offerings.  Come and check-in at the entrance doors for directions into the Auction area only.
            </p>

            <h2>Are the items for auction available for viewing before the event?</h2>
            <p>
              An Auction Catalog listing silent auction items will be available before the event.
            </p>

            <h2>Will there be raffle tickets available for purchase during the event?</h2>
            <p>
              YES.  Raffle tickets will be available for purchase for the duration of the event.  Raffle tickets are $5.00 each or $20.00 for a pack of five raffle tickets.  Please note that winners need NOT be present to win or claim the prize.  Credit card payment is accepted at day of event.
            </p>

            <h2>What do I wear?</h2>
            <p>
              Casual attire just in case you get a little messy.  You will receive a bib to protect your clothes.
            </p>

            <h2>Will there be childcare?</h2>
            <p>
              Yes, there will be supervised childcare (contracted through Happy Hall) with planned activities and  pizza. Siblings are welcomed.  Reserve your space(s) by emailing: <a href="mailto:meadowsparentvolunteer@gmail.com" target="_blank">meadowsparentvolunteer@gmail.com</a> with your name, contact info and the time and number of spaces.
            </p>
            <p>
              Childcare fee is $40.00 includes pizza.
            </p>

            <h2>How can I help:</h2>
            <p>
              There are many ways you can help:
            </p>

            <ul>
              <li>
                Donate items for Auction<br />
                How?  Email <a href="mailto:donations@meadowscrabfeed.com" target="_blank">donations@meadowscrabfeed.com</a>
              </li>
              <li>
                Help identifying businesses or individual sponsors for the wine and beer social and donations of beverages and desserts.
                How? Email <a href="mailto:donations@meadowscrabfeed.com" target="_blank">donations@meadowscrabfeed.com</a>
              </li>
              <li>
                Volunteer to help promote and post event signage at local businesses in Millbrae, San Bruno and Burlingame.  Or even place the event signage on your lawn or poster in a home window.<br />
                How? Stop by the info table for instructions and signage.
              </li>
              <li>
                Volunteer to help on the day of event with set-up, preparation, serving food and clean up.  Various time slots will be available for volunteers.<br />
                How? Email <a href="mailto:meadowsparentvolunteer@gmail.com" target="_blank">meadowsparentvolunteer@gmail.com</a>
              </li>
              <li>
                Help promote and sell Crab Feed dinner tickets and Raffle tickets to your friends and relatives.<br />
                How? Send the website link to friends/family.  Talk about the event – it will be fun!  Follow and share the event on social media (i.e. Facebook).
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="crabfeed-save-the-date" class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <center><h1>S&nbsp;A&nbsp;V&nbsp;E&nbsp;&nbsp;&nbsp;T&nbsp;H&nbsp;E&nbsp;&nbsp;&nbsp;D&nbsp;A&nbsp;T&nbsp;E</h1></center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <img src="/static/images/crabfeed/home/logo.png" class="img-responsive">
      </div>
      <div class="col-md-7 col-sm-7">
        <div class="well">
          <h4>Meadows PTA Presents:</h4>
          <h2>Crab Feed & Auction</h2>

          <p>
            <strong>When:</strong> February 28th, 2015<br />
            <strong>Where:</strong> Caroline Shea Center <i>(Taylor Middle School)</i><br />
          </p>

          <h4>Schedule of Events:</h4>
          <p>
            <strong>4:00pm:</strong> Pre-event wine & beer social <i>(Rec Center)</i><br />
            <strong>5:00pm:</strong> Silent Auction viewing<br />
            <strong>6:00pm - 9:00 pm:</strong> Crab Feed & Auction
          </p>

          <hr />
          <div>
            {% if not display_thankyou %}
              <form action="/crabfeed/" method="post">
                {% csrf_token %}
                <!-- <button data-toggle="modal" data-target="#crabfeed-faq-modal" class="btn btn-success">View Event F.A.Q.'s</button> -->
                <p><strong>Sign up to be notified when tickets are available for online purchase</strong></p>
                <div class="input-group">
                  {{ notification_signup_form.email }}
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-success" type="button" value="Submit">
                  </span>
                </div>

                {{ notification_signup_form.email.errors }}
              </form>
            {% else %}
              <h4>Thank you for signing up!</h4>
              We will email you when tickets are available for purchase online.
            {% endif %}            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <center><img src="/static/images/crabfeed/home/save_the_date_2.jpg"></center> -->
{% endblock content %}
