{% extends 'layouts/page.html' %}

{% block content %}
  <div id="crabfeed-ticket-search" ng-controller="CrabfeedTicketSearchController">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="Search by name, email, or confirmation number" ng-model="q" ng-change="qChange();">
      <span class="input-group-btn">
        <button class="btn btn-success btn-lg" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>

    <section>
      <table class="table table-striped" ng-show="tickets.length">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Payment Type</th>
          <th></th>
        </tr>
        <tr ng-repeat="ticket in tickets">
          <td><a href="">{[ ticket.first_name ]} {[ ticket.last_name ]}</a></td>
          <td><a href="mailto:{[ ticket.email ]}" target="_blank">{[ ticket.email ]}</a></td>
          <td>{[ ticket.payment_type ]}</td>
          <td></td>
        </tr>
      </table>
    </section>
  </div>
{% endblock content %}