{% extends 'layouts/page.html' %}

{% block content %}
  <div id="crabfeed-check-in">
    <a href="/logout">logout</a><br />
    <h1>{{ reservation.email }}</h1>

    <strong>Email:</strong> <a href="mailto:{{ reservation.email }}">{{ reservation.email }}</a><br />
    <strong>Reservation Number:</strong> {{ reservation.reservation_number }}<br />
    <strong>Party:</strong> {{ reservation.party_count }} people<br />
    <strong>Referer:</strong> {{ http_referer }}<br />
    <img class="img-responsive" src="{{ reservation.qr_code_image.url }}">
  </div>
{% endblock content %}