{% extends 'layouts/page.html' %}

{% block content %}
  <div id="crabfeed-ticket-search" ng-controller="CrabfeedTicketSearchController">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="Search by name, email, or confirmation number" ng-model="q" ng-keyup="qChange();">
      <span class="input-group-btn">
        <button class="btn btn-success btn-lg" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>

    <section ng-show="reservations.length">
      <hr />
      <h4>{[ reservations.length ]} results</h4>
      <hr />

      <div class="list-item" ng-repeat="reservation in reservations">
        {% include 'crabfeed/check-in/partials/reservation-row-checkin.html' %}
      </div>
    </section>
  </div>
{% endblock content %}

<!--
<div class="col-lg-12">
          <span ng-repeat="name in reservation.name">{[ name ]}<br /></span>
          {[ reservation.email ]}
        </div>
        <div class="col-lg-3">
          <strong>Reservation #:</strong> {[ reservation.reservation_number ]}<br />
          <strong>Check-in Status:</strong> {[ reservation.party_checked_in ]} / {[ reservation.party_count ]}<br />
        </div>
        <div class="col-lg-9">
          <div ng-repeat="transaction in reservation.transactions">
            {[ transaction.name ]}<br />
            <strong>Payment Type:</strong>
            {[ transaction.payment_type ]}
            <span class="glyphicon" ng-class="{ 'glyphicon-credit-card': transaction.payment_type_id == 'credit', 'glyphicon-ok': transaction.payment_type_id == 'check' }"><span class="loud" ng-show="transaction.payment_type_id == 'cash'">$</span></span><br />
            <strong>Source:</strong> {[ transaction.source ]}<br />

            <hr ng-show="reservation.transactions.length > 1" />
          </div>
        </div>
-->