{% extends 'layouts/sidebar_right.html' %}

{% block sidebar %}
  {% include 'blocks/facebook_likes.html' %}
  {% include 'blocks/google_calendar.html' %}
{% endblock sidebar %}

{% block content %}
  <div id="news-list">
    <ul class="list">
      {% for news_item in news_items %}
        <li class="list-item row">
          <div class="col-md-3">
            <a href="{{ news_item.get_absolute_url }}"><img src="{{ news_item.image_medium.url }}"></a>
          </div>
          <div class="col-md-9">
            <a href="{{ news_item.get_absolute_url }}"><h3>{{ news_item.title }}</h3></a>
            <p>{{ news_item.teaser }}</p>
            <span class="quiet"><em>{{ news_item.publish_date|date:"l, F jS, Y" }}</em></span> - {{ news_item.body|striptags|truncatewords:25 }} <a href="{{ news_item.get_absolute_url }}">read more &raquo;</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}