{% extends 'layouts/sidebar_right.html' %}

{% block sidebar %}
    {% if user.is_authenticated %}
        {% if news_item.is_featured %}
            <a href="#" class="btn btn-block btn-success" disabled="disabled">This post is featured</a>
        {% else %}
            <a href="/news/feature/{{ news_item.id }}/" class="btn btn-block btn-success">Feature This Post</a>
        {% endif %}
        <br />
    {% endif %}

    {% include 'blocks/facebook_likes.html' %}
    {% include 'blocks/google_calendar.html' %}
{% endblock sidebar %}

{% block content %}
    <div id="news-page">
        <h1>{{ news_item.title }}</h1>
        <h3 class="quiet">{{ news_item.teaser }}</h3>
        <div><img src="{{ news_item.image_large.url }}"></div>
        <br />

        <div class="row">
            <div class="col-md-1 col-sm-1">
                <div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="position: relative">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_pinterest_share"></a>
                    <a class="addthis_button_google_plusone_share"></a>
                </div>
            </div>
            <div class="col-md-11 col-sm-11">
                {{ news_item.body|safe }}
            </div>
        </div>
    </div>
{% endblock content %}