{% extends '_template/pages/full.html' %}
{% import '_macros/form.html' as _form %}

{% block sidebar %}

{% endblock sidebar %}

{% block content %}
	{{ _form.open({
		'action': '',
		'method': 'post',
		'enctype': 'multipart/form-data',
	}) }}
		<div class="span8">
			<h1>Create Page</h1>

			{{ _form.label('Title', 'title') }}
			{{ _form.text({
				'name': 'title',
				'value': post.title,
			}) }}

			{{ _form.label('Body', 'body') }}
			{{ _form.textarea({
				'name': 'body',
				'id': 'post-body',
				'value': post.body,
			}) }}
		</div>

		<div class="span4">
			<div class="well">
				{{ _form.label('URL', 'slug') }}
			{{ _form.text({
				'name': 'slug',
				'value': page.slug,
				'class': 'fluid regular',
			}) }}

				{{ _form.submit({
					'value': 'Publish',
					'class': 'btn btn-success pull-right',
				}) }}
			</div>
		</div>
	{{ _form.close() }}
{% endblock content %}