<div class="container">
	<div id="footer">
		<div class="row district-links">
			<div class="span6 section1 text-right">
				<div class="content">
					<ul class="no-style">
						<li><a href="http://www.millbraeschooldistrict.org/" target="_blank">Millbrae School District</a></li>
						<li><a href="http://millbrae.schoolwisepress.com/home/" target="_blank">School Facts and Accountability Information</a>
						<li><a href="http://www.millbraeschooldistrict.org/music/" target="_blank">Millbrae School District Music Department </a>
						<li><a href="http://www.greatschools.org/california/millbrae/6906-Meadows-Elementary-School/" target="_blank">Meadows on GreatSchools</a>
					</ul>
				</div>
			</div>
			<div class="span6 section2">
				<div class="content">
					<ul class="no-style">
						<li><a href="http://www.millbraeschooldistrict.org/greenhills/" target="_blank">Green Hills Elementary School</a></li>
						<li><a href="http://www.millbraeschooldistrict.org/lomitapark/" target="_blank">Lomita Park Elementary School</a></li>
						<li><a href="http://millbraeschooldistrict.org/taylor/" target="_blank">Taylor Middle Elementary School</a></li>
						<li><a href="https://sites.google.com/site/springvalleyelementary/" target="_blank">Spring Valley Elementary School</a></li>
					</ul>
				</div>
			</div>
			{#
			<div class="span4 last">
				<div class="fb-like-box" data-href="https://www.facebook.com/pages/Meadows-Elementary-School-Millbrae/223668454429302" data-width="292" data-height="300" data-show-faces="true" data-stream="true" data-header="true"></div>
			</div>
			#}
		</div>
		<div class="row school-info">
			<div class="span12 text-center">
				<h4 class="title">Meadows School</h4>
				<strong><a href="{{ _map_url }}" target="_blank">1101 Helen Drive Millbrae, CA 94030</a> &middot; (650) 583-7590</strong><br />
				Susan Condio-Hernandez, Principal<br />
				Kellie Zahursky, Administrative Secretary<br />
			</div>
		</div>
	</div>
</div>