{% extends '_template/pages/full.html' %}
{% import '_macros/form.html' as _form %}

{% block sidebar %}
	<div class="well">
		{{ _form.checkbox({
			'id': 'field-is-event',
			'name': 'is-event',
			'options': { 1: 'This is an event' },
			'values': post.is_event,
		}) }}
		<div id="post-form-event-info" class="well">
			{{ _form.label('Start Date', 'start_date') }}
			{{ _form.text({
				'id': 'event-start-date',
				'name': 'event[start_date]',
				'value': post.event.start_date|date('n/j/Y'),
				'class': 'regular micro',
			}) }}
			
			{{ _form.text({
				'name': 'event[start_time]',
				'value': post.event.start_date|date('g:ia'),
				'class': 'regular micro',
			}) }}
			
			{{ _form.label('End Date', 'end_date') }}
			{{ _form.text({
				'id': 'event-end-date',
				'name': 'event[end_date]',
				'value': post.event.end_date ? post.event.end_date|date('n/j/Y') : '',
				'class': 'regular micro',
			}) }}
			
			{{ _form.text({
				'name': 'event[end_time]',
				'value': post.event.end_date ? post.event.end_date|date('g:ia') : '',
				'class': 'regular micro',
			}) }}
			
			{{ _form.label('Location', 'location') }}
			{{ _form.text({
				'name': 'event[location]',
				'value': post.event.location,
				'class': 'fluid regular',
			}) }}
		</div>
		
		<div class="well">
			{{ _form.label('Publish Date', 'publish_date') }}
			{{ _form.text({
				'id': 'publish-date',
				'name': 'publish_date',
				'value': post.publish_date|date('n/j/Y'),
				'class': 'regular micro',
			}) }}
			
			{{ _form.text({
				'name': 'publish_time',
				'value': post.publish_date|date('g:ia'),
				'class': 'regular micro',
			}) }}
		</div>
		
		<div class="well">
			{{ _form.checkbox({
				'name': 'is-main-story',
				'options': { 1: 'Publish as Main Story' },
				'values': post.is_main_story,
			}) }}
			
			<b>Current Main Story</b><br />
			<a href="{{ _base }}{{ main_story.get_absolute_url() }}">{{ main_story.title }}</a> - 
			<span class="quiet">{{ main_story.teaser }}</span>
			<br /><br />
			<center>
				<img src="{{ _base }}{{ main_story.images.small }}" class="image-small">
			</center>
		</div>
		
		{{ _form.submit({
			'value': 'Publish',
			'class': 'btn btn-success pull-right',
		}) }}
		<div class="clearfix"></div>
	</div>
	{{ _form.close() }}
{% endblock sidebar %}

{% block content %}
	{{ _form.open({
		'action': '',
		'method': 'post',
		'enctype': 'multipart/form-data',
	}) }}
	<h1>Create Post</h1>
	
	{{ _form.label('Title', 'title') }}
	{{ _form.text({
		'name': 'title',
		'value': post.title,
	}) }}
	
	{{ _form.label('Teaser', 'teaser') }}
	{{ _form.text({
		'name': 'teaser',
		'value': post.teaser,
	}) }}
	
	{{ _form.label('Image', 'image') }}
	{{ _form.file({
		'name': 'image',
		'value': post.image,
	}) }}
	
	{{ _form.label('Body', 'body') }}
	{{ _form.textarea({
		'name': 'body',
		'id': 'post-body',
		'value': post.body,
	}) }}
	
	<br />
	{{ _form.label('Url', 'slug') }}
	{{ _form.text({
		'name': 'slug',
		'value': post.slug,
	}) }}
{% endblock content %}