{% extends '_template/pages/full.html' %}
{% import '_macros/form.html' as _form %}

{% block sidebar %}
	{% if _user|access('edit own post') or _user|access('edit all post') %}
		{{ _form.button({
			'value': 'Edit This Post',
			'href': _base ~ post.get_edit_url(),
			'class': 'btn btn-block btn-warning',
		}) }}
		<br />
	{% endif %}
	
	{#
	{% if post.is_event %}
		<div class="well">
			<h3 class="title">Event Info</h3>
			
		</div>
	{% endif %}
	#}
	
	{{ recent_posts_block|raw }}
{% endblock sidebar %}

{% block content %}
	<h1>{{ post.title }}</h1>
	<div class="quiet">
		{{ post.publish_date|date('l F j, Y') }}<br />
	</div>
	<hr />
	
	<div>
		<img src="{{ _base }}{{ post.images.medium }}" class="main image-medium" align="right">
		<div>
			{{ post.body|raw }}
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock content %}