{% extends '_template/pages/full.html' %}

{% block sidebar %}
	<div id="sidebar">
		<div class="well pad">
			<a href="{{ _base }}static/files/meal/menus/Meadows_Lunch_Menu_February_2013.pdf"><img src="{{ _base }}static/images/icons/pdf_small.png"> Download the February lunch menu</a>
		</div>
		
		<div id="meal-facts">
			<h2 class="chrome">Did You Know?</h2>
			
			<b>Fun health and nutrition facts about the Millbrae School District Meal Program:</b>
			<ul>
				<li>The Millbrae School District Meal Program has been 100% trans-fat free since 2006.</li>
				<li>Many entrees - such as pizzas, corn dogs, cereal, and muffins - are made from whole grains.</li>
				<li>All menus meet federal and state guidelines of less than 30% total fat, and less than 10% saturated fat.</li>
				<li>We do not fry any foods - chicken nuggets, breaded chicken patty sandwiches, French-fried potatoes, orange chicken, and corn dogs are all baked.</li>
				<li>Our milk selection is all natural, rBST-free.</li>
				<li>Ingredients and menu selections are low fat or low sugar whenever possible.</li>
				<li>Fresh fruits and vegetables are acquired through local California growers.</li>
				<li>We no longer use Styrofoam trays at the elementary schools. We have switched to a reusable, washable red basket as a meal tray, helping the environment by limiting excess trash disposal. Students at Taylor Middle School use recycled cardboard food trays.</li>
			</ul>
		</div>
	</div>
{% endblock sidebar %}

{% block content %}
	<h1>Upcoming Food Services Menu</h1>
	<div id="main">
		{% for menu in menus %}
			<h3>{{ menu.date|date('l F jS') }}</h3>
			<blockquote>{{ menu.menu|nl2br|replace({ '*': '<span class="bright">*</span>' })|raw }}</blockquote>
		{% endfor %}
		<span class="quiet pull-left small"><span class="bright">*</span> Vegetarian Items</span>
		<div class="clearfix"></div>
		<br />
	</div>
{% endblock content %}