<div id="recent-posts" class="sidebar-section">
	<h2 class="chrome">Recent Posts</h2>
	<ul id="post-list" class="list span4 first">
		{% for post in posts %}
			{% if loop.last %}
				{% set last = 'last' %}
			{% endif %}
			<li id="post-item-{{ post.id }}" class="post-item-{{ post.id }} list-item {{ last }}">
				<div class="span1 first">
					<img src="{{ _base }}{{ post.images.thumb }}" align="left" class="image-thumb">
				</div>
				<div class="span3">
					<a href="{{ _base }}{{ post.get_absolute_url() }}">{{ post.title }}</a>
					<div class="quiet">{{ post.teaser }}</div>
				</div>
			</li>
		{% endfor %}
	</ul>
	<div class="pull-right"><a href="{{ _base }}news">more news &raquo;</a></div>
	<div class="clearfix"></div>
</div>