{% extends '_template/pages/full.html' %}
{% import '_macros/form.html' as _form %}

{% block content %}
	<div class="span8">
		<h1>User Login</h1>
		
		{{ _form.open({ 'action': _base ~ 'login' }) }}
			{{ _form.label('Email', 'email') }}
			{{ _form.text({
				'name': 'email',
				'value': email,
				'class': 'medium',
			}) }}
			
			{{ _form.label('Password', 'password') }}
			{{ _form.password({
				'name': 'password',
				'class': 'medium',
			}) }}
			<br />
			{{ _form.submit({
				'value': 'Login',
				'class': 'btn',
			}) }}
		{{ _form.close() }}
	</div>
{% endblock content %}